# extensions
*.dat
*.pdf
*.png
*.eps
*.svg
*.rssp

# specific files
sftp.json
settings.json

# directory names
**/bin/**
**/mod/**
**/obj/**
**/reference/**
**/pkl/**
**/log/**
**/test/**

# extensions of latex project
*.aux
*.log
*.gz
*.toc
*.bbl
*.blg

# special cases
/Temp/**
**/Microwave/**
channels.*
